<h2>Datos del autor</h2>

<p><strong>Nombre: </strong>Angel Latorre Trabanco</p>
<br/>
<img src="/public/images/gustavo.jpg"/>
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Mmax3yEZX58" frameborder="0" allowfullscreen></iframe>
